{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5%">

        <h1>Zarejestruj się</h1>

        {{ form_start(form) }}

        {{ form_end(form) }}

        <br>
        {#        <p>Masz konto?</p><a href="{{ path('app_login') }}" class="btn btn-info">Zaloguj się</a>#}
    </div>
{% endblock %}